<a href="https://colab.research.google.com/github/nothing099031/test1/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [15]:
import pandas as pd
import numpy as np

In [11]:
pd.read_excel('/odd2.xlsx')

,Employee_Name,Employee_ID,Job_Role,Phone_Number,Email_ID,Total_Work_Hour_per_Month,Salary_per_Month
0,Jane Miller,8797,Developer,3.801881e+09,emily.taylor@example.com,9999.0,NaN
1,Michael Brown,6540,Manager,7.904752e+09,john.brown@test.net,160.0,11200.0
2,Sarah Anderson,2353,Developer,9.463822e+09,sarah.wilson@sample.org,9999.0,-5000.0
3,Chris Johnson,6392,Engineer,8.727628e+09,john.jones@sample.org,160.0,8000.0
4,Laura Smith,1653,Analyst,7.750284e+08,sarah.taylor@test.net,9999.0,NaN
...,...,...,...,...,...,...,...
95,Emily Smith,5111,NaN,4.463884e+09,james.davis@test.net,-10.0,100000.0
96,Sarah Wilson,7388,Engineer,7.455009e+09,john.johnson@example.com,NaN,100000.0
97,NaN,3773,Manager,4.515526e+08,david.miller@sample.org,NaN,100000.0
98,Sarah Smith,1442,Analyst,3.294945e+09,jessica.anderson@example.com,-10.0,-5000.0
99,Michael Jones,3490,Analyst,9.425622e+09,john.miller@sample.org,NaN,NaN

In [12]:
# question 1
# are these missing values in any colums ? if so in which column?

In [24]:
 df = pd.read_excel('/odd2.xlsx')

In [31]:
missing_values = df.isnull().sum()

In [32]:
print("colums with missing values")
print(missing_values[missing_values > 0])

colums with missing values
Employee_Name                 9
Job_Role                     10
Phone_Number                  8
Email_ID                      9
Total_Work_Hour_per_Month    23
Salary_per_Month             20
dtype: int64

In [33]:
print(df.dtypes)

Employee_Name                 object
Employee_ID                    int64
Job_Role                      object
Phone_Number                 float64
Email_ID                      object
Total_Work_Hour_per_Month    float64
Salary_per_Month             float64
dtype: object

In [36]:
for col in df.columns:
  print(f"\ncolums {col}")
  print(f"data type: {df[col].dtype}")

colums Employee_Name
data type: object

colums Employee_ID
data type: int64

colums Job_Role
data type: object

colums Phone_Number
data type: float64

colums Email_ID
data type: object

colums Total_Work_Hour_per_Month
data type: float64

colums Salary_per_Month
data type: float64

In [37]:
#question 3
#some employee have"9999" in the total _work_hour_per_month_column.what does this represent, and should it be replaced?